html,body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: medium;
    
}

#table-home{
    width: 360;
    margin-left: auto;
    margin-right: auto; 
    border: 1px solid red;
    border-spacing: 0;
    border-radius: 6px 6px 0 0;
}

th{
    font-size: 18px;
    color: white;
    background-color: #1170C8;
    text-align: center;
    padding: 18px;
}

.esquinaiz{
    border-radius: 5px 0px 0px 0px;
}

.esquinade{
    border-radius: 0px 5px 0px 0px;
}

td{
    font-size: 16px;
    text-align: center;
    padding: 18px;
}

